<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>currency_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,29}</string>
                <key>textureRect</key>
                <string>{{80,65},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>currency_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{60,50}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1,70},{60,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>currency_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,67}</string>
                <key>spriteSourceSize</key>
                <string>{77,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>currency_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,40}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{80,1},{62,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>currency.png</string>
            <key>size</key>
            <string>{121,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d53d9f7637cc531fdc6eb1b3efa8191c:72e3888627060dfa95c908621d87d23a:530394529a8859d86517cea38904039f$</string>
            <key>textureFileName</key>
            <string>currency.png</string>
        </dict>
    </dict>
</plist>
